{% extends 'base.html' %}
{% block content %}

<h1>NFT Details</h1>

<div class="card">
    <div class="card-content">
      <span class="card-title">{{ nft.nft_name }}</span>
      <p>Creator: {{ user }}</p>
      <p>Blockchain: {{ nft.blockchain }}</p>
      <p>Token ID: {{ nft.token_id }}</p>
      <p>Description: {{ nft.description }}</p>
      <a href="{% url 'nft_edit' nft.id %}" class="waves-effect waves-light btn-small">Edit</a>
      <a href="{% url 'nft_delete' nft.id %}" class="waves-effect waves-light btn-small">Delete</a>
    </div>
  </div>

{% endblock %}