{% extends 'base.html' %} {% block content %} {%load mathfilters%}

<h1>{{nft.nft_name}}</h1>
<div class="bidcard">
    <div class="card">
        <div class="card-content">
            <span class="card-title"></span> {% for photo in nft.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}"> {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% if notempty %} <br> {% elif nft.user == request.user %}
            <form action="{% url 'add_photo' nft.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo">
            </form>
            {% endif %} {% endfor %}
            <p>Creator: {{ nft.user }}</p>
            <p>Blockchain: Ethereum</p>
            <p>Token ID: {{ nft.token_id }}</p>
            <p>Description: {{ nft.description }}</p>
            <form action="{% url 'like_nft' nft.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit", name = "nft_id", value="{{ post.id}}"> Like </button> - {{nft.total_likes}} Likes
            </form>      
            {% if nft.user == request.user %}
            <a href="{% url 'nft_edit' nft.id %}" class="waves-effect waves-light btn-small">Edit</a>
            <a href="{% url 'nft_delete' nft.id %}" class="waves-effect waves-light btn-small">Delete</a> {% endif %}
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <table class="striped">
              {% for bid in nft.bid_set.all %} 
              {% if forloop.first %}
            <h4>Top Bid: ETH {{ bid.bidprice }}</h4>
              {% endif %} 
            {% endfor %} 
              {% for sell in nft.sell_set.all %}
                <thead>
                    <tr>
                        <th>Sale Ends</th>
                        <th>Min Bid Price</th>
                        <th>USD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{sell.sale_ends}}</td>
                        <td>ETH {{sell.minbidprice}}</td>
                        <td>${{sell.minbidprice|mul:2735}}</td>
                    </tr>
                    {% empty %}
                  {% if nft.user == request.user %}
                  <div class="sellbutton">
                  <h3>READY TO SELL YOUR NFT?</h3>
                  <br>
                    <a href="{% url 'sell' nft.id %}" class="waves-effect waves-light btn-large">Sell</a> 
                  </div>
                  {%else%}
                    <h3>SORRY! THIS NFT IS NOT FOR SALE ~_~</h3>
                  {% endif %}
                {% endfor %}
                </tbody>
            </table>

        {% for sell in nft.sell_set.all %}
            <span class="card-title"></span> 
            <hr>
            {% if nft.user == request.user %}
            <div></div>
            {%else%}
            <form action="{% url 'add_bid' nft.id %}"  class='bidprice'method="post">
                {% csrf_token %} {{ bid_form.as_p }}
                <input type="submit" class="btn" value="Add Bid">
            </form>
            {% endif %}
           
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Bid</th>
                        <th>USD</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in nft.bid_set.all %}
                    <tr>
                        <td>{{bid.date}}</td>
                        <td>ETH {{bid.bidprice}}</td>
                        <td>${{bid.bidprice|mul:2735}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}