{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NFT Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caladea&family=Hind+Siliguri&family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="nav-menu">
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;NFT Gallery</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'nft_list' %}">ALL NFT'S</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'for_sale' %}">NFT'S FOR SALE</a></li>
                    <li><a href="{% url 'nft_index' %}">{{user |upper}}'S NFT'S</a></li>
                    <li><a href="{% url 'nft_create' %}">ADD NFT</a></li>
                    <li><a href="{% url 'logout' %}">LOG OUT</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">SIGN UP</a></li>
                    <li><a href="{% url 'login' %}">LOG IN</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fixed">
        <ul class="left">
            <li class="search">
                <form action="{% url 'search_result' %}" method="get">
                    <input id = searchbar type="search" placeholder="Search NFTs" name='searched'>
                    <button id="search" class="waves-effect waves-light btn-small" type="submit">Search</button>
                </form>
            </li>
    </div>

    <main class="container">
        {% block content %} {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2022 NFT Marketplace &nbsp;</div>
    </footer>
</body>

</html>