{% extends 'base.html' %} {% block content %} 

<h1>DISCOVER EXTRAORDINARY NFT'S</h1>
<h2 class="header-text">An NFT Gallery application created by a team of 4 General Assembly students</h2>

<div class="classone">
    <a href="https://www.linkedin.com/in/marianne-salamanca-badilla/" target='blank'>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Marianne</h2>
                <p><small>SEI-44</small></p>
            </div>
        </div>
    </a>
    <a href="https://www.linkedin.com/in/tatsiana-prokharchyk-614262147/" target='blank'>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Tatsiana</h2>
                <p><small>SEI-44</small></p>
            </div>
        </div>
    </a>
</div>

<div class="classtwo">
    <a href="https://www.linkedin.com/in/tiffany-lam-8b101724/" target='blank'>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Tiffany</h2>
                <p><small>SEI-44</small></p>
            </div>
        </div>
    </a>
    <a href="https://www.linkedin.com/in/anthony-vanoni/" target='blank'>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Anthony</h2>
                <p><small>SEI-44</small></p>
            </div>
        </div>
    </a>
</div>
{% endblock %}